name: Deploy Hugo site to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *'  # 每天每小时触发一次

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repo
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - name: Install Hugo CLI
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true
      - name: Install node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'
      # - name: Install atomic-algolia
        # run: npm install atomic-algolia
      # - name: Build the website with the Stack theme
        # run: hugo -t Stack
      # - name: Upload index.json for search
        # run: node push_algolia_json.js
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.HUGO_DEPLOY }}
          external_repository: Dora-Honor/mskk-hugo
          publish_branch: gh-pages
          publish_dir: ./public